*{
    margin: 0;
    padding: 0;
    font-family: 'Minecraft', sans-serif;
}
body{
    background-color: #3b2a1e;
    background-repeat: no-repeat;
}
.navbar{
    height: 20vh;
    width: 100%;
    background-color: #335a2a;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0,6);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
h2{
    font-size: 35px;
    cursor: pointer;
    transition: 1s;
    color: red;
}
a{
text-decoration: none;
    color: gray;
    transition: 1s;
    font-size: 35px;
    transition: 1s;

}
h2:hover{
    color: red;
}
a:hover{
    color: red;
}   
.mod1 p{
    color: red;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}